.bash_logout
.bash_profile
.bashrc
.cpanel*
.cphorde*
.dns
access-logs
error_log
etc*
./.htpasswds*
.lastlogin
./logs*
./mail*
./perl5*
.public_ftp*
public_html*
www*
.ssh*
tmp*
.zshrc
composer.phar
.composer*
.contactemail
.gitconfig
